<div class="row">
  <button (click)="login()" loginUser class="btn btn-info">Please Login with Google</button>
</div>

<!-- <div class="authBlock">
  <h3>Sign Up</h3>
  <div class="formGroup">
    <input type="text" class="formControl" placeholder="Username" #userEmail required />
  </div>
  <div class="formGroup">
    <input type="password" class="formControl" placeholder="Password" #userPassword required />
  </div>
  <div class="formGroup">
    <input type="button" class="btn btnPrimary" value="Sign Up" (click)="signUp()" />
  </div>
</div>

<div class="authBlock">
  <h3>Sign Up</h3>
  <div class="formGroup">
    <input type="text" class="formControl" placeholder="Username" #userEmail required />
  </div>
  <div class="formGroup">
    <input type="password" class="formControl" placeholder="Password" #userPassword required />
  </div>

  <div class="formGroup">
    <input type="button" class="btn btnPrimary" value="Sign Up" (click)="signUp(userEmail.value, userPassword.value)" />
  </div>
</div> -->